# бинарник который собирает go build
# имя совпадает с названием папки в cmd/
url-shortener

# переменные окружения — пароли, dsn строки
# НИКОГДА не коммитить в git
.env

# папка куда go складывает кэш сборки
# генерируется автоматически, не нужна в репо
vendor/

# системный мусор macOS — создаётся автоматически в каждой папке
.DS_Store

# файлы GoLand / IntelliJ
.idea/

# файлы VS Code
.vscode/

# результаты go test -cover
# генерируются при запуске тестов
*.out
coverage.html

# логи
*.log